$article-color: #db9621;

#article-container:hover {
  padding: 1em;
  border: 3px solid $article-color;
}

#article-container:not(:empty):hover::after {
  content: 'Article Administration Module';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: $article-color;
}
