$sales-color: #21dbb0;

#sales-container:hover {
  padding: 1em;
  border: 3px solid $sales-color;
}

#sales-container:not(:empty):hover::after {
  content: 'Sales Module';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: $sales-color;
}
