<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div>
    <img alt="shop-icon" class="logo" src="https://storage.googleapis.com/micro-frontends-erp/assets/Basket.png"/>
  </div>
  <h2 class="welcome-heading">Welcome to the Magic Shop</h2>
</div>
