.welcome-heading {
  color: #3e3d3d;
  font-family: Sans-serif, serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -3px;
  text-align: center;
}

.logo {
  width: 200px;
}
